.container {
	display: flex;
	flex-direction: column;
	border: solid blue 1px;
	min-width: 790px;
	min-height: 200px;
	margin: auto;
	width: fit-content;
	padding: 20px;
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 0 0 3px #04befe;
}

.header {
	font-size: large;
	font-weight: 600;
}

.contain {
	display: flex;
	flex-direction: row;
	width: 650px;
	transform: translate(-150%, 0);

	/*transition-duration: 1s;*/
}
.containanim {
	transform: translate(0, 0);
	transition: 1s 0.7s ease-in-out;
}
