/* .table-wrapper {
  margin: auto;
  overflow: auto;
  max-width: 50%;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

tr {
  border-bottom: 1px solid;
}
tr:nth-child(odd) {
  background-color: rgb(191, 226, 242);
}

th {
  background-color: rgb(3, 173, 252);
  color: #fff;
  white-space: nowrap;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
} */
